@font-face {
    font-family: 'QuickSand';
    src: url(/assets/Quicksand-Medium.ttf) format('truetype');
}

* {
    font-family: 'QuickSand';
}

/* Nav section */


/* Banner */
.site-banner {
    display: flex;
    background-image: url(/public/images/banner.jpg);
    min-height: 450px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Middle / Main section */


/* Footer section */
