<!-- Sticky cart page button -->
<a href="/cart">
  <button
    class="btn btn-primary ms-4 shadow sticker-button"
    style="width: 85px; height: 85px"
  >
    <i class="bi bi-cart-fill" style="font-size: 2rem"></i>
  </button>
</a>
