<!-- Navigation section -->
<nav class="navbar navbar-expand-lg shadow text-bg-light">
  <div class="container-md">
    <a href="#" class="navbar-brand ps-4">
      <img
        src="/images/Logo.png"
        alt="Ice-Dude logo"
        width="40"
        height="50"
        alt="Ice-Dude logo"
      />
      <span class="fw-bold"> Ice Dude </span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="justify-content-end me-5 ml-auto collapse navbar-collapse"
      id="navbarNavDropdown"
    >
      <ul class="nav">
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" role="button"> Menu </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
        <!-- Profile Picture -->
        <li class="nav-item dropdown ms-3">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <div class="profile-pic">
              <img
                src="https://source.unsplash.com/250x250?dog"
                alt="Profile Picture"
              />
            </div>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="#"
                ><i class="fas fa-sliders-h fa-fw"></i> Account</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#"
                ><i class="fas fa-cog fa-fw"></i> Settings</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#"
                ><i class="fas bi-bag-fill fa-fw"></i> Orders</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" href="#"
                ><i class="fas fa-sign-out-alt fa-fw"></i> Log Out</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
